.container{
  padding-right: 50px;
}
.table-wrapper {
   background: #fff;
   padding: 20px 25px;
   margin: 30px 0;
   border-radius: 3px;
   box-shadow: 0 0 20px #bac3c3;

}
.table-title {
padding-bottom: 15px;
background: white;
color: black;
padding: 16px 30px;
margin: -20px -25px 10px;
border-radius: 3px 3px 0 0;
}
.table-title h2 {
margin: 5px 0 0;
font-size: 24px;
color: white;

}
.table-title .btn-group {
position: relative;
left: 20px;


}
#addbtn{
  padding-left: 3em;
}
.table-title .btn {
color: #fff;
position: relative;
right: 43em;
font-size: 13px;
border: none;
min-width: 50px;
border-radius: 2px;
border: none;
outline: none !important;
margin-left: 10px;
}
.table-title .btn i {
position: relative;
right: 14rem;
font-size: 21px;
}
.table-title .btn span {
float: left;
margin-top: 2px;
}




table.table tr th, table.table tr td {
border-color: #e9e9e9;
padding: 12px 15px;
vertical-align: middle;
}
table.table tr th:first-child {
width: 110px;
}
table.table tr th:last-child {
width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
 background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
background: #f5f5f5;
}
table.table th i {
   font-size: 13px;
   margin: 0 5px;
   cursor: pointer;
}
table.table td:last-child i {
opacity: 0.9;
font-size: 22px;
   margin: 0 5px;
}
table.table td a {
color: #566787;
display: inline-block;
text-decoration: none;
outline: none !important;
}
table.table td a:hover {
color: #2196F3;
}
table.table td a.edit {
   color: #FFC107;
}
table.table td a.view {
   color: blue;
   font-size: 20px;
}
table.table td a.delete {
   color: #F44336;
}
table.table td i {
   font-size: 19px;
}
table.table .avatar {
border-radius: 50%;
vertical-align: middle;
margin-right: 10px;
}

/* Modal styles */
.modal .modal-dialog {
max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
padding: 20px 30px;
}
.modal .modal-content {
border-radius: 3px;
}
.modal .modal-footer {
background: #ecf0f1;
border-radius: 0 0 3px 3px;
}
.modal .modal-title {
   display: inline-block;
}
.modal .form-control {
border-radius: 2px;
box-shadow: none;
border-color: #dddddd;
}
.modal textarea.form-control {
resize: vertical;
}
.modal .btn {
border-radius: 2px;
min-width: 100px;
}
.modal form label {
font-weight: normal;
}

h1{
   font-size: 4rem;
   padding: 20px 0;
   text-align: center;
   color: #000;
}
p{
   text-align: center;
}
.grandpa{
   background-image: url("/static/images/backtoback.jpg");
   box-shadow: 0 0 20px #bac3c3;
   margin-right: 50px;
   position: relative;
   right: -28px;
   padding: 60px 20px 90px 20px;


}
.parents{ width: 80vw; height: auto; margin: auto;
   display: flex;  justify-content: space-around;
   flex-wrap: wrap; transition: all 0.2 linear;

}
.child{
   height: 200px;
   background:#1d1e22;
   box-shadow: 0 0 20px #bac3c3;
   flex:1 1 200px;
   margin: 20px;
   border-radius: 20px;
   color: black;
   font-family: 'Mulish', sans-serif;
   font-size: 20px;
   padding-bottom: 10px;
   color: white;

}
.child .childhead1{
   position: relative;
   font-size: 20px;
   color: white;
   right: 70px;

}
.child .childhead2{
   position: relative;
   font-size: 20px;
   color: white;
   right: 50px;

}
.child .childhead3{
   position: relative;
   font-size: 20px;
   color: white;
   right: 90px;

}

.child2 .childhead1{
   position: relative;
   font-size: 20px;
   color: white;
   right: 100px;

}
.child2 .childhead2{
   position: relative;
   font-size: 20px;
   color: white;
   right: 40px;

}

.child li{
   list-style:none;
   font-size: 17px;
   position: relative;
   top: 5px;
   justify-content: center;
   align-items: center;

}

.child:first-child{
   background:#1d1e22 ;
}
.child:last-child{
   background: #1d1e22;
}

.parent2{ width: 80vw; height: auto; margin: auto;
   display: flex;  justify-content: space-around;
   flex-wrap: wrap; transition: all 0.2 linear;
}
.child2{
   height: 200px;
   background:#161748;
   box-shadow: 0 0 20px #bac3c3;
   flex:1 1 200px;
   margin: 20px;
   border-radius: 20px;
   color: black;
   font-family: 'Mulish', sans-serif;
   font-size: 20px;
   padding-bottom: 10px;
   color: white;

}
.child2 .childhead{
   padding-left:30px;

}
.child2 li{
   list-style:none;
   font-size: 17px;

}

.child2:first-child{
   background: #161748;
}

.child:hover{
   z-index: 1;
   box-shadow: 0 8px 50px rgba(0,0,0,0.4);
   transform: scale(1.05);

}
.child2:hover{
   z-index: 1;
   box-shadow: 0 8px 50px rgba(0,0,0,0.4);
   transform: scale(1.05);

}

.tablehead1{
   width: 21.2em;
   background: #fff;
   padding-top: 20px;
   padding-bottom: 20px;
   box-shadow: 0 0 20px #bac3c3;
   margin-top: -40px;


}

.topview{
   background-image: url("/static/images/black.jpg");
   width: 53em;
   font-size: 20px;
   position: relative;
   top: -38px;
   padding: 40px;
   color: white;
}

.printview #print{
   position: relative;
   right: -8.5em;
   top: 44.5px;
   color: royalblue;
   font-size: 20px;
}

/* .printview #print:hover{

} */

#mySearchButton{
   font-size: 18px;
   background:#008CBA;
   color: white;
   border: none;
   position: relative;
   right: 22em;
   padding: 5px;
   top: 20px;
   border-radius: 5px;
}

#mySearchText{
 position: relative;
 right: 25em;
 padding: 5px;
 top: 20px;
 border-radius: 5px;

}


.columicon{
   position: relative;
   float: right;
   left: 23em;

 }

 .columnlist li{
   /* background-color: white; */
   list-style: none;
   padding: 10px;
   width: 10em;
   padding-left: 5px;
 }

 .columnlist li a{
   list-style: none;
   text-decoration: none;
   color: black;
   font-size: 15px;
 }
 #showthecolumn{
   display: none;
   border-radius: 10px;
   position: absolute;
   top: 30em;
   padding-right: 20px;
   right: 10em;
   background: white;
   box-shadow: 0 0 20px #bac3c3;
   z-index: 1;

 }

 .columnlist li a:hover{
   background-color: white;
 }

 .fa-microsoft{
   color: royalblue;
   position: relative;
   top: 3em;
   right: -9.2em;
   font-size: 22px;
   cursor: pointer;
 }

 #excelExport{
   border: 0;
   background: none;
   font-size: 17px;
   font-weight: 500;
 }
 #csvExport{
   border: 0;
   background: none;
   font-size: 17px;
   font-weight: 500;
 }
 #pdfExport{
   border: 0;
   background: none;
   font-size: 17px;
   font-weight: 500;
 }

 #customexport{
   width: 10em;
   border-radius: 10px;
   background: white;
   padding: 20px;
   box-shadow: 0 0 20px #bac3c3;
   position: absolute;
   top: 30em;
   padding-right: 20px;
   right: 20em;
   background: white;
   box-shadow: 0 0 20px #bac3c3;
   z-index: 1;
   display: none;

 }

 #customexport li {
   list-style: none;
 }

 #customexport li:hover{
   background: black;
   color: white;
 }

 .fa-download{
   color: royalblue;
   position: relative;
   top: 3em;
   right: -5em;
   font-size: 22px;
 }

/* view all css */

 @media print {
   .printview, .printview *{
       visibility: hidden;
   }
   #mySearchButton, #mySearchButton * {
     visibility: hidden;

   }
   #mySearchText, #mySearchText * {
     visibility: hidden;
   }
   #acol, #acol * {
     display: none;
   }

}


@media(max-width:998px){
   .table-wrapper{
      font-size: 13px;
      width: 90%;
      margin-left: -50px;
      height: auto;
      margin-right: 0;

   }
   .tablehead1{
      font-size: 30px;
      width: 80%;
      margin-right: 20px;
   }
   #mySearchText{
      font-size: 13px;
      position: relative;
      left: -8em;
   }
   #mySearchButton{
      font-size: 15px;
      position: relative;
      right: 36rem;
      margin-bottom: 5rem;
   }
   .fa-download{
     position: relative;
     right: 10rem;
     font-size:1.5rem;
   }
   .printview #print{
     position: relative;
     right: 7rem;
     font-size:1.5rem;
     top: 2.9rem;

   }
   .fa-microsoft{
     position: relative;
     right: 5.8rem;
     font-size:1.5rem;
     top: 4.7rem;


   }
   .topview{
     width: 80%;
   }

   #addbtn{
     margin-left: 20rem;
     font-size: 10px;
     width: 15em;
   }
   .home-content{
     width: 100%;

   }
   .topbar{
     width: 65%;
   }
   .userimg{
     position: relative;
     left: 40em;
   }
   table.table tr th, table.table tr td{
     width: 90%;
   }

}
@media(max-width:798px){
   .table-wrapper{
      font-size: 13px;
      width: 70%;
      margin-left: -50px;
      height: auto;
      margin-right: 0;

      padding-right: -30px;
   }
   .tablehead1{
      font-size: 30px;
      width: 70%;
      margin-right: 20px;
   }
   #mySearchText{
      font-size: 13px;
      position: relative;
      left: -8em;
   }
   #mySearchButton{
      font-size: 15px;
      position: relative;
      right: 36rem;
      margin-bottom: 5rem;
   }
   .fa-download{
     position: relative;
     right: 10rem;
     font-size:1.5rem;
   }
   .printview #print{
     position: relative;
     right: 7rem;
     font-size:1.5rem;
     top: 2.9rem;

   }
   .fa-microsoft{
     position: relative;
     right: 5.8rem;
     font-size:1.5rem;
     top: 4.7rem;


   }
   .topview{
     width: 80%;
   }

   #addbtn{
     margin-left: 20rem;
     font-size: 10px;
     width: 15em;
   }
   .home-content{
     width: 100%;

   }
   .topbar{
     width: 65%;
   }
   .userimg{
     position: relative;
     left: 40em;
   }
   table.table tr th, table.table tr td{
     width: 70%;
   }

}

@media(max-width:398px){
   .table-wrapper{
      font-size: 13px;
      width: 60%;
      margin-left: -50px;
      height: auto;
      margin-right: 0;

      padding-right: -30px;
   }
   .tablehead1{
      font-size: 30px;
      width: 60%;
      margin-right: 20px;
   }
   #mySearchText{
      font-size: 13px;
      position: relative;
      left: -8em;
   }
   #mySearchButton{
      font-size: 15px;
      position: relative;
      right: 36rem;
      margin-bottom: 5rem;
   }
   .fa-download{
     position: relative;
     right: 10rem;
     font-size:1.5rem;
     color: red;
   }
   .printview #print{
     position: relative;
     right: 7rem;
     font-size:1.5rem;
     top: 2.9rem;

   }
   .fa-microsoft{
     position: relative;
     right: 5.8rem;
     font-size:1.5rem;
     top: 4.7rem;


   }
   .topview{
     width: 80%;
   }

   #addbtn{
     margin-left: 10rem;
     font-size: 10px;
     width: 15em;
   }
   .home-content{
     width: 100%;

   }
   .topbar{
     width: 65%;
   }
   .userimg{
     position: relative;
     left: 40em;
   }
   table.table tr th, table.table tr td{
     width: 60%;
     padding: 0;
   }
   body{
     padding: 0;
   }

}
